body{
    color: white;
    size: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 30px;
}

a {
    
    color:white;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #2196f3;
}

.center {
    text-align: center;
    margin-top: 200px;
}

.ajustes {
    text-align: center;
}

nav a:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
 
}

li a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.3s;
    display: block;
    border-radius: 25px; /* Adiciona bordas arredondadas NUNCA ESQUECER DISSO */
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
   
}

.obj {
   margin-top: 350px;
}

.exp {
    margin-top: 200px;
    text-align: center;
    padding: 10px 50px;
}

.txt{
    padding: 10px 90px;
}

.contato {
    margin-top: 250px;
}

h1 {
    font-size: 70px;
    letter-spacing: 20px;

}

h2 {
    font-size: 35px;
    letter-spacing: 20px;
    margin-top: -5px;
}

h3 {
    font-size: 30px;
    margin-top: 119px;
}

/* Tela responsiva*/

/* Estilos padrão para o menu */
nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  
  nav li {
    text-align: center;
  }
  
  /* Media query para telas menores */
  @media (max-width: 600px) {
    nav ul {
      flex-direction: column; 
      align-items: center; 
    }
  
    nav li {
      margin-bottom: 10px; 
    }
  }
  

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px; /* Adicione algum preenchimento para espaçamento interno */
}

nav li a {
    text-decoration: none;
    color: white;
}



footer#redes-sociais  img {
    width: 50px;
    margin-top: 200px;
    border-radius: 50%     

}

footer#redes-sociais img {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
    display: inline-block;
}

footer#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.626);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px blue;
    transition: transform 0.2, border 1s;

}

footer#redes-sociais a {
    display: inline-block;
    margin-right: 50px; /* Espaçamento entre os botões */
}


.logo{
    margin-top: 300px;
}

.logo1{
    margin-top: 390px;
}

.sobremim {
    margin-top: 210px;
}


.center:hover{
    transform: translate(-3px, -3px);
    box-shadow: 5px, 5px, 10px rgba(0, 0, 255, 0.567);
    transition: transform 0.2, border 1s;

}



/*TELA RESPONSIVA PARA DISPOSITIVOS MOVEIS, */


/* Consulta de mídia para dispositivos móveis */
@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 1.5em; /* Tamanho de fonte menor para dispositivos móveis */
        line-height: 1.2; /* Espaçamento entre linhas ajustado para dispositivos móveis */
    }
    
    header h2 {
        font-size: 1em; /* Tamanho de fonte menor para dispositivos móveis */
        line-height: 1.2; /* Espaçamento entre linhas ajustado para dispositivos móveis */
    }
}
